{% extends "bio/header.html" %}
<style>
    .img-contianer {
        border: 10px solid black;
        border-style: solid;
        border-radius: 3px;
        padding: 10px;
    }
    .img-title {
        margin: auto;
    }
</style>
{% block content %}
    {% for img in object_list %}
        <div class="col-md-4 img-container" id="{{img.id}}">
            <a href="/photography/{{img.id}}"><img src={{img.url}} alt={{img.title}} style="max-height: 150px"></a>
            <h4 class="img-title" >{{img.title}}</h4>
        </div>
    {% endfor %}
{% endblock %}